<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выдвигающееся меню</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main-page.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css">

</head>

<!--Общий заголовок-->
<header>
    <div id="common-code-container"></div>
</header>

<body>
<div class="container mt-5 bg-light rounded">
    <h2>Таблица фермы</h2>
    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</button>
    <table border="1" class="table table-striped table-responsive-md" id="farmTable">
        <thead>
        <tr>
            <th scope="col">Код фермы</th>
            <th scope="col">Почта</th>
            <th scope="col">Описание</th>
            <th scope="col">Адрес</th>
            <th scope="col">Лицензия</th>
            <th scope="col">Деньги</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="farm : ${listFarms}"     th:id="'row'+${farm.farmCode}">
            <td th:text="${farm.farmCode}"    th:data-idFarmCode = "${farm.farmCode}"></td>
            <td th:text="${farm.email}"       th:data-idEmail = "${farm.farmCode}"></td>
            <td th:text="${farm.description}" th:data-idDescription = "${farm.farmCode}"></td>
            <td th:text="${farm.address}"     th:data-idAddress = "${farm.farmCode}"></td>
            <td th:text="${farm.license}"     th:data-idLicense = "${farm.farmCode}"></td>
            <td th:text="${farm.money}"       th:data-idMoney = "${farm.farmCode}"></td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal"
                        th:data-farm-id="${farm.farmCode}" th:data-email="${farm.email}" th:data-description="${farm.description}"
                        th:data-address="${farm.address}" th:data-license="${farm.license}" th:data-money="${farm.money}">
                    Изменить
                </button>
                <button type="button" class="btn btn-danger btn-sm" th:attr="data-farm-id=${farm.farmCode}" onclick="deleteFarm(this)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <!-- Модальное окно для редактирования -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Редактировать данные</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Форма для редактирования данных -->
                    <form id="editForm">
                         <div class="mb-3">
                             <label for="editFarmCode" class="form-label">Код фермы</label>
                             <input type="text" class="form-control" id="editFarmCode" readonly name="farmCode">
                         </div>
                         <div class="mb-3">
                             <label for="editEmail" class="form-label">Почта</label>
                             <input type="text" class="form-control" id="editEmail" name="email">
                         </div>
                         <div class="mb-3">
                             <label for="editDescription" class="form-label">Описание</label>
                             <input type="text" class="form-control" id="editDescription" name="description">
                         </div>
                         <div class="mb-3">
                             <label for="editAddress" class="form-label">Адрес</label>
                             <input type="text" class="form-control" id="editAddress" name="address">
                         </div>
                         <div class="mb-3">
                             <label for="editLicense" class="form-label">Лицензия</label>
                             <input type="text" class="form-control" id="editLicense" name="license">
                         </div>
                         <div class="mb-3">
                             <label for="editMoney" class="form-label">Деньги</label>
                             <input type="number" step="0.01"  class="form-control" id="editMoney" name="money">
                         </div>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Модальное окно для добавления -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавить новую ферму</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Форма для добавления сущности Farm -->
                    <form id="addForm">
                        <div class="mb-3">
                            <label for="addEmail" class="form-label">Почта</label>
                            <input type="text" class="form-control" id="addEmail" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="addDescription" class="form-label">Описание</label>
                            <input type="text" class="form-control" id="addDescription" name="description" required>
                        </div>
                        <div class="mb-3">
                            <label for="addAddress" class="form-label">Адрес</label>
                            <input type="text" class="form-control" id="addAddress" name="address" required>
                        </div>
                        <div class="mb-3">
                            <label for="addLicense" class="form-label">Лицензия</label>
                            <input type="text" class="form-control" id="addLicense" name="license" required>
                        </div>
                        <div class="mb-3">
                            <label for="addMoney" class="form-label">Деньги</label>
                            <input type="number" step="0.01" class="form-control" id="addMoney" name="money" required>
                        </div>
                        <!-- Добавьте другие поля по необходимости -->
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js" onload="loadSecondScript()"></script>
<script src="/js/farms.js"></script>
<script src="/static/js/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>